@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  *{
    font-family: 'SUIT-Regular';
  }

.container {
    height: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebecf0;
    overflow: hidden;
  }
  
.body {
    height: 70%;
    width: 60%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #a3a3a3;
  }
  
  #main-holder {
    width: 70%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;

  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    
  }

  #k{
    display: grid;
    justify-items: center;
    align-items: center;
 flex-direction: row;
    justify-items: center;
  }

  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    box-shadow: 0px 0px 5px 2px black;
    background-color: white;
    height: 55%;
    /* border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px; */
  }
  
  #login-form-submit {
    
    width: 90%;
    height: 55%;
    margin-bottom: 10%;
    /* padding: 7px; */
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    background-color: #000000;
    box-shadow: 0px 0px 0cqmax 1px black;
    cursor: pointer;
    /* outline: none; */
  }