<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.smhrd.camping.mapper.CampingMapper">
  	<!-- <insert id="write" parameterType="com.smhrd.camping.domain.Comunity">
  		insert into TB_STORY(STORY_CATEGORY,STORY_TITLE,STORY_CONTENT,STORY_IMG,USER_EMAIL)
		values('기본',#{story_title},#{story_content},#{story_img},#{story_writer})
  		</insert>
  		
		values(#{story_category},#{story_title},#{story_content},#{story_img},#{user_email})
  	</insert> -->
  	
  	<!-- 게시판 업로드 생성 -->
  	<insert id="write" parameterType="com.smhrd.camping.domain.Comunity">
		insert into TB_STORY(STORY_CATEGORY, STORY_TITLE, STORY_CONTENT, STORY_IMG, USER_EMAIL)
		values( #{story_category}, #{story_title}, #{story_content}, #{story_img}, #{user_email})
	</insert>
	
  		

  	
  	<select id="CategoryStep" resultType="com.smhrd.camping.domain.Category">
  		select * from TB_CATEGORY
  	</select>
  <!-- ComunityList, ComunityOne -->	
  	<select id="ComunityList" resultType="com.smhrd.camping.domain.Comunity">
  		select * from TB_Story
  	</select>
  	
  	<select id="ComunityOne" resultType="com.smhrd.camping.domain.Category">
  		select * from TB_Story where idx=#{idx}
  	</select>
  	
  	<insert id="comment" parameterType="com.smhrd.camping.domain.Comment">
  		insert into TB_COMMENT (CMT_CONTENT) values(#{cmt_content})
  	</insert>
  	
  	<select id="CommentList" resultType="com.smhrd.camping.domain.Comment">
  		select user_email, cmt_content from tb_comment a
  	</select>
  	
  	   <select id="searchComunity" resultType="com.smhrd.camping.domain.Comunity">
          SELECT * FROM tb_story
    WHERE story_title LIKE '%' || #{query} || '%'
    OR story_content LIKE '%' || #{query} || '%'
    </select>
    
    
<select id="sortedComunity" resultType="com.smhrd.camping.domain.Comunity" parameterType="string">
    SELECT * FROM tb_story
    ORDER BY
        CASE #{mode}
            WHEN 'views' THEN story_views
            WHEN 'likes' THEN story_likes
            WHEN 'usefuls' THEN story_usefuls
            WHEN 'recent' THEN TO_NUMBER(TO_CHAR(story_dt, 'YYYYMMDDHH24MISS'))
            ELSE TO_NUMBER(TO_CHAR(story_dt, 'YYYYMMDDHH24MISS'))
        END DESC
</select>

    
  	
  </mapper>