#columns{
  column-count: 3;
  column-gap: 15px;
  padding: 10px;

}
#columns figure {
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
#columns figure img{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#columns figure figcaption{
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  margin-top: 11px;
  color: #444;
  line-height: 1.5;
}

/* Footer */

.footer-container{
  background-color: lightgray;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.header-menu > .item:hover {
  flex-basis: 25%;
  cursor:default;
  border-bottom: 4px solid black;
  /* background-color: whitesmoke; */
  /* border: 1px solid black; */
  height: 100%;
  width: 260px;

}

/*-------------------------------- container --------------------------------*/
.container {
  flex-direction: row;
  align-items: flex-end;
  background-color: white;
  margin: 0 15% 0;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: yellow;
  
}




/* .container > .item:hover{
  transform: scale(1); */
  /* position: fixed; */
  /* left: 480px;
  top: 10px; */
  /* background-color: pink; */
  /* opacity:0.5;
} */


.container>.item:hover body{
  background-color: pink;
}




/* 0~599 */
@media only screen and (min-width: 0px) and (max-width: 599px) {
  .container > .item {
    background-color: white;
    /* border: 1px solid black; */
    flex-basis: 80%;
    margin: 0 1px 30px; /*위-오른쪽/왼쪽-아래*/
    /* border: 1px solid black; */
    font-size: 1rem;
  }
}

/* 600~899 */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .container > .item {
    background-color: white;
    /* border: 1px solid black; */
    flex-basis: 45%;
    margin: 0 1px 30px; /*위-오른쪽/왼쪽-아래*/
    /* border: 1px solid black; */
    border-radius: 20px;
  }
}

/* 900~ */
@media only screen and (min-width: 900px) and (max-width: 1920px) {
.container > .item {
    background-color: white;
    /* border: 1px solid black; */
    flex-basis: 20%;
    margin: 0 1.5% 5%; /*위-오른쪽/왼쪽-아래*/
    /* border: 1px solid black; */
    
}

.container > .item img{
	border-radius: 10px;
	height: 120px;
}



}

/*-------------------------------- writer.jsx --------------------------------*/
.write {
  background-color: rgb(238, 238, 238);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 20px;
  position: relative;
  height: auto;
}

.story-header {
  display: flex;
  flex-flow: row wrap;
}
.story-header *{
    flex-basis: 100%;
}

/* ------------------------- */
.story-body {
  display: flex;
}

.story-body * {
  flex-basis: 50%;
  /* border: 1px solid black; */
}

.content-left {
  border:1px solid black;
  border-radius: 20px;
}
.content-right textarea{
  display: block;
  width: 100%;
  height: 97%;
  border-radius: 20px;
}
.doWrap {
  flex-wrap: wrap;
}
.basis100 {
  flex-basis:100%
}
.story-body>.basis100 {
  text-align:center;
}

.content-left>img{
  object-fit: contain;
  max-height: 350px;
  max-width: 100%;
}

/* ------------------------- */
.story-footer {
  margin-top: 1%;
  text-align: right;
}
.story-footer button{
  /* border: none;
  outline: none;
  background-color: inherit ;
  cursor: pointer; */
  border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    text-align: center;
}