@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  * {
    font-family: 'TheJamsil5Bold';
  }
  


#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: white;
}

.main {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.logo {

    margin-top: 0px;
    margin-bottom: 40px;
}

/* #emailcontainer{
    display: flex;

} */

#underline-btn {
    /* display: inline-block; */
    /* padding-left: 35%; */
    border-radius: 0;
    height: 10%;
    padding: 1%;
    color: rgb(107, 124, 255);
    margin-left: 42%;

    font-weight:400;
    font-size: 0.678rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
background-color:rgb(65, 186, 235) ;
border-radius: 3px;
color: white;
    &:hover {
        color: #1d57ba;

        &:before {
            transform: none;
            opacity: 1;
            transition-duration: .4s;
        }

    }
}

#emailcheck {
    background-color: white;
    width: 50%;
    font-size: small;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

#login {
    width: 100%;
    background-color: skyblue;
    border-color: transparent;
    color: white;
    cursor: pointer;
    /* margin: 0; */

}

#login:active {
    background-color: rgb(64, 181, 227);
}

#logintxt_container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    align-items: center;
}

#login_text {
    font-size: small;
    justify-content: center;
    align-items: center;
    padding: 20%
}

.account {
    width: 96%;
    margin-left: 0.5%;
margin-top: 2%;
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;

}


.k {
    height: 80%;
    width: 15%;
    display: flex;
    justify-content: center;
    position: relative;
    left: -22px;
}

.img_container {
    cursor: pointer;
    background-color: rgb(245, 233, 0);
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    height: 40px;
    margin-bottom: 3%;

}


#alert {
    border-color: transparent;
}